@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #333333;
  --blue: #5b6fc6;
  --green: #6fc39f;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--black);
  color: white;
}